[Unit]
Description=vnc server
After=syslog.target network.target

[Service]
Type=simple
User={{ ansible_ssh_user }}
PAMName=login
WorkingDirectory=/home/{{ ansible_ssh_user }}

PIDFile=/home/{{ ansible_ssh_user }}/.vnc/%H%i.pid
ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill :%i > /dev/null 2>&1'
ExecStart=/usr/bin/vncserver -fg -localhost yes -geometry 1920x1200 :%i
ExecStop=/usr/bin/vncserver -kill :%i

[Install]
WantedBy=multi-user.target
